.header-notifications a {
  font-size: 15px !important;
}
.bg-light-custom{
  background: #F1F3F9;
}
/* Hide bootstrap dropdown arrow */
.dropdown-toggle::after {
  display: none !important;
}

.submit-field .zindex-high {
  overflow: visible;
}

.btn-xs {
  font-size: 12px !important;
  padding: 4px 8px !important;
}


/* -------------------------------------------------------------- */
/* HOW IT WORKS PAGE */
.hiw-page .header-img{
  height: 350px;
}
.hiw-header {
  font-family: 'Roboto Mono';
}
.hiw-big-text {
  font-size: 3.0em;
  color: #240B4F;
}

.hiw-page .section-head{
  font-size: 2.2em;
  font-weight: 600;
}

.hiw-page .tab__body p{
  font-size: 1.2em;
  line-height: 1.60256;
  font-weight: 300;
}


/* Post Job Page */
.pj-page .form-section {
  margin-bottom: 20px;
}

.pj-page input::placeholder, textarea::placeholder {
  color: #c6c7ca;
  font-style: italic;
}

/* Single Jobs Page */
.single-page-header .header-image {
  height: 140px;
  flex: 0 0 140px;
  margin-right: 35px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  display: flex;
  padding: 0 0px;
}

/* All Jobs Page */

























/*--------------------------------------------------*/
/*  Timelines
/*--------------------------------------------------*/
/* Timeline */
.timeline {
  border-left: 4px solid #EA7C11;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 32px;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
}
.timeline h1 {
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed #EA7C11;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #EA7C11;
  left: -57.85px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.timeline .done:after {
  background: #19fc7f;
}
.timeline .notdone:after {
  background: #f4f4f4;
}
















/*--------------------------------------------------*/
/*  Custom Tabs
/*--------------------------------------------------*/

.tab {
  margin: 0 0 1em;
  padding: 1em 0;
}

.tab__content {
  clear: both;
}

.tab__body {
  font-size: .9em;
}
.js .tab__body {
  display: none;
}
.is-active .tab__body {
  display: block;
}

.tab__nav {
  opacity: 0;
  height: 0;
  overflow: hidden;
  float: left;
}
.tab__nav a {
  display: block;
  float: left;
  padding: 0 1em;
  margin: 0;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  color: #b1b3b1;
}
.tab__nav a:hover {
  color: #4B4D4B;
}
.tab__nav a.is-active {
  color: #B5A54A;
}

.tab__title {
  display: block;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1em;
  color: #cbcccb;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.tab__title:hover {
  color: #4B4D4B;
}
.is-active .tab__title {
  color: #B5A54A;
}

/**
 * Enhanced Tab Styles
 */
.is-enhanced.tab {
  padding: 0 0 1em;
}
.is-enhanced .tab__title {
  display: none;
}
.is-enhanced .tab__nav {
  opacity: 1;
  height: auto;
  margin: 0 0 1em;
}
.is-enhanced .tab__nav a {
  padding: 1em;
  background-color: #FFF;
  box-shadow: none;
  transition: color, box-shadow 0.3s ease-in-out;
}
.is-enhanced .tab__nav a.is-active {
  box-shadow: inset 0 4px 0 #B5A54A;
}
